html {
    background: #ccd9ff; /*Some that look pretty good: 4b0026, 38001c, 45001f,  (Burgundy) 381604 (brown) 2e0101 (Maroon) 01041a (navy blue) ccd9ff (light blue) 858585 (gray)5e6160 (medium-dark gray) 333333 (dark gray) */
    
    /*background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%); */
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 5em;
    max-width: 800px;
    padding: 2em 2em 4em;
    text-align: center;
}

h1, h2, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
}

h3 {
    text-align: center;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    /* Animation that came with the example I used as a template.
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1; */
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

button {
    align-self: center;
    font-weight: bold;
    font-size: 25px
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

.container {
    position: relative;
    text-align: center;
    color: #fff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.bottom-text {
    position: absolute;
    bottom: 20px;
    margin: auto;
    left: 20px;
    right: 20px;
    font-size: 25px;
    font-weight: bold;

}

.footer {
    position: fixed;
    text-align: center;
    bottom: 5px;
    width: 800px;
    float: left;
}
